.cover__link {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(../../../images/cover-trains.jpg);
  max-width: 1184px;
  min-height: 740px;
  margin: 0;
  padding: 0;
  margin: 92px auto 0;
  background-size: cover;
  background-position: center;
  text-decoration: none;
}

/* Псевдоэлемент для затемнения */
.cover__link::after {
  content: '';
  height: 100%;
  background: #2a2c2f;
  opacity: .3;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
}
/* /Псевдоэлемент для затемнения */

/* Затемнение по наведению */
.cover__link:hover::after {
  opacity: .8;
  transition: .3s ease-in-out;
}
/* /Затемнение по наведению */
