.lead__title {
  max-width: 720px;
  margin: 0;
  padding: 0 132px;
  margin-bottom: 32px;
  font-size: 96px;
  font-weight: 900;
  line-height: 1.04;
  color: #fff;
}

@media screen and (max-width: 1279px) {
  .lead__title {
    padding: 0;
  }
}

@media screen and (max-width: 1023px) {
  .lead-title {
    padding: 0 24px;
  }
}

@media screen and (max-width: 767px) {
  .lead__title {
    max-width: 288px;
    font-size: 40px;
    line-height: 1.1;
    padding: 0 16px;
    margin: 0;
    margin-bottom: 16px;
  }
}


