.lead__title {
  max-width: 720px;
  max-height: 200px;
  margin: 0;
  padding: 0;
  margin: 56px auto 32px;
  font-size: 96px;
  font-weight: 900;
  line-height: 1.04;
  text-align: center;
  color: #fff;
}
